---
http_interactions:
- request:
    method: post
    uri: https://stage-secure-gateway.hipay-tpp.com/rest//v1/hpayment
    body:
      encoding: US-ASCII
      string: orderid=TEST-HPAYMENT-001&operation=Authorization&description=Desc+test&amount=74.12&accept_url=http%3A%2F%2Ftest.com&decline_url=http%3A%2F%2Ftest.com&pending_url=http%2F%2Ftest.com&exception_url=http%3A%2F%2Ftest.com&cancel_url=http%3A%2F%2Ftest.com&firstname=Jane&lastname=Doe&currency=EUR
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic OTQ2Njc5NzUuc3RhZ2Utc2VjdXJlLWdhdGV3YXkuaGlwYXktdHBwLmNvbTpUZXN0X0R2NWFQcWpINlZhMHI2bTNSQUFsNWIyVw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; encoding=UTF-8;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <response>
          <forward_url>https://stage-secure-gateway.hipay-tpp.com/payment/web/pay/ddc09c8e-b442-4ad5-a929-ff059aede15f</forward_url>
          <test>true</test>
          <mid>00001334813</mid>
          <cdata1><![CDATA[]]></cdata1>
          <cdata2><![CDATA[]]></cdata2>
          <cdata3><![CDATA[]]></cdata3>
          <cdata4><![CDATA[]]></cdata4>
          <cdata5><![CDATA[]]></cdata5>
          <cdata6><![CDATA[]]></cdata6>
          <cdata7><![CDATA[]]></cdata7>
          <cdata8><![CDATA[]]></cdata8>
          <cdata9><![CDATA[]]></cdata9>
          <cdata10><![CDATA[]]></cdata10>
          <order>
            <id><![CDATA[TEST-HPAYMENT-001]]></id>
            <date_created><![CDATA[2017-12-01T09:27:57+0000]]></date_created>
            <attempts><![CDATA[0]]></attempts>
            <amount><![CDATA[74.12]]></amount>
            <shipping><![CDATA[0.00]]></shipping>
            <tax><![CDATA[0.00]]></tax>
            <decimals><![CDATA[2]]></decimals>
            <currency><![CDATA[EUR]]></currency>
            <customer_id><![CDATA[]]></customer_id>
            <language><![CDATA[en_US]]></language>
            <email><![CDATA[]]></email>
          </order>
        </response>
  recorded_at: Fri, 01 Dec 2017 15:05:17 GMT
recorded_with: VCR 3.0.3
