---
http_interactions:
- request:
    method: post
    uri: https://stage-secure2-vault.hipay-tpp.com/rest/v2/token/create
    body:
      encoding: US-ASCII
      string: card_number=4000000000000002&card_expiry_month=12&card_expiry_year=2025&card_holder=Jane+Doe&cvc=123
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic OTQ2Njc5NzUuc3RhZ2Utc2VjdXJlLWdhdGV3YXkuaGlwYXktdHBwLmNvbTpUZXN0X0R2NWFQcWpINlZhMHI2bTNSQUFsNWIyVw==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <response>
          <token><![CDATA[ce5f096fa6bc05989c170e7c96f94432660491bd]]></token>
          <request_id><![CDATA[0]]></request_id>
          <brand><![CDATA[VISA]]></brand>
          <pan><![CDATA[400000xxxxxx0002]]></pan>
          <card_holder><![CDATA[Jane Doe]]></card_holder>
          <card_expiry_month><![CDATA[12]]></card_expiry_month>
          <card_expiry_year><![CDATA[2025]]></card_expiry_year>
          <country><![CDATA[US]]></country>
          <card_type><![CDATA[CREDIT]]></card_type>
        </response>
  recorded_at: Fri, 08 Dec 2017 09:20:48 GMT
- request:
    method: post
    uri: https://stage-secure2-vault.hipay-tpp.com/rest/v2/token/update
    body:
      encoding: US-ASCII
      string: request_id=0&card_token=ce5f096fa6bc05989c170e7c96f94432660491bd&card_expiry_year=2099&card_expiry_month=02&card_holder=John+Doe
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic OTQ2Njc5NzUuc3RhZ2Utc2VjdXJlLWdhdGV3YXkuaGlwYXktdHBwLmNvbTpUZXN0X0R2NWFQcWpINlZhMHI2bTNSQUFsNWIyVw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <response>
          <token><![CDATA[ce5f096fa6bc05989c170e7c96f94432660491bd]]></token>
          <request_id><![CDATA[0]]></request_id>
          <card_holder><![CDATA[John Doe]]></card_holder>
          <card_expiry_month><![CDATA[02]]></card_expiry_month>
          <card_expiry_year><![CDATA[2099]]></card_expiry_year>
        </response>
  recorded_at: Fri, 08 Dec 2017 09:20:48 GMT
recorded_with: VCR 4.0.0
