---
http_interactions:
- request:
    method: post
    uri: https://stage-secure-gateway.hipay-tpp.com/rest//v1/order
    body:
      encoding: US-ASCII
      string: orderid=TEST-ORDER-001&operation=Authorization&payment_product=cb&description=Desc+test&amount=72.13&accept_url=http%3A%2F%2Ftest.com&decline_url=http%3A%2F%2Ftest.com&pending_url=http%2F%2Ftest.com&exception_url=http%3A%2F%2Ftest.com&cancel_url=http%3A%2F%2Ftest.com&firstname=Jane&lastname=Doe&currency=EUR
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic OTQ2Njc5NzUuc3RhZ2Utc2VjdXJlLWdhdGV3YXkuaGlwYXktdHBwLmNvbTpUZXN0X0R2NWFQcWpINlZhMHI2bTNSQUFsNWIyVw==
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/xml; encoding=UTF-8;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <response>
          <code>1020001</code>
          <message>No route to acquirer</message>
          <description/>
        </response>
  recorded_at: Fri, 01 Dec 2017 15:07:52 GMT
- request:
    method: post
    uri: https://stage-secure-gateway.hipay-tpp.com/rest/v1/order
    body:
      encoding: US-ASCII
      string: orderid=TEST-UNIT-ORDER-001&operation=Authorization&payment_product=tpe&description=Desc+test&amount=72.13&accept_url=http%3A%2F%2Ftest.com&decline_url=http%3A%2F%2Ftest.com&pending_url=http%2F%2Ftest.com&exception_url=http%3A%2F%2Ftest.com&cancel_url=http%3A%2F%2Ftest.com&firstname=Jane&lastname=Doe&currency=EUR&eci=10&authentication_indicator=0&initialize_payment_terminal=1&payment_terminal_id=12&store_id=2&order_point=store&pos_transaction_lifetime=60
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic OTQ2Njc5NzUuc3RhZ2Utc2VjdXJlLWdhdGV3YXkuaGlwYXktdHBwLmNvbTpUZXN0X0R2NWFQcWpINlZhMHI2bTNSQUFsNWIyVw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; encoding=UTF-8;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <response>
          <state>pending</state>
          <reason/>
          <forward_url/>
          <test>true</test>
          <mid>00001334813</mid>
          <attempt_id>1</attempt_id>
          <authorization_code/>
          <transaction_reference>134399463131</transaction_reference>
          <date_created>2017-12-08T08:55:55+0000</date_created>
          <date_updated>2017-12-08T09:56:16+0100</date_updated>
          <date_authorized/>
          <status>174</status>
          <message>Awaiting Terminal</message>
          <authorized_amount>0.00</authorized_amount>
          <captured_amount>0.00</captured_amount>
          <refunded_amount>0.00</refunded_amount>
          <credited_amount>0.00</credited_amount>
          <decimals>2</decimals>
          <currency>EUR</currency>
          <ip_address>0.0.0.0</ip_address>
          <ip_country/>
          <device_id/>
          <cdata1><![CDATA[]]></cdata1>
          <cdata2><![CDATA[]]></cdata2>
          <cdata3><![CDATA[]]></cdata3>
          <cdata4><![CDATA[]]></cdata4>
          <cdata5><![CDATA[]]></cdata5>
          <cdata6><![CDATA[]]></cdata6>
          <cdata7><![CDATA[]]></cdata7>
          <cdata8><![CDATA[]]></cdata8>
          <cdata9><![CDATA[]]></cdata9>
          <cdata10><![CDATA[]]></cdata10>
          <avs_result/>
          <cvc_result/>
          <eci>10</eci>
          <payment_product>tpe</payment_product>
          <payment_method/>
          <three_d_secure/>
          <fraud_screening>
            <scoring>0</scoring>
            <result>NOT_LAUNCHED</result>
            <review/>
          </fraud_screening>
          <order>
            <id><![CDATA[TEST-UNIT-ORDER-001]]></id>
            <date_created><![CDATA[2017-12-08T08:55:55+0000]]></date_created>
            <attempts><![CDATA[1]]></attempts>
            <amount><![CDATA[72.13]]></amount>
            <shipping><![CDATA[0.00]]></shipping>
            <tax><![CDATA[0.00]]></tax>
            <decimals><![CDATA[2]]></decimals>
            <currency><![CDATA[EUR]]></currency>
            <customer_id><![CDATA[]]></customer_id>
            <language><![CDATA[en_US]]></language>
            <email><![CDATA[]]></email>
          </order>
          <debit_agreement>
            <id/>
            <status/>
          </debit_agreement>
        </response>
  recorded_at: Fri, 08 Dec 2017 08:56:16 GMT
recorded_with: VCR 4.0.0
